<main class="main">
  <h1 class="main__heading">
    Enter text to parse
  </h1>

  <div
    contenteditable
    #textToParse
    class="main__input"
    (input)="clearResult()"
    (paste)="paste($event)"
  ></div>

  <div class="main__button-wrapper">
    <button class="main__button"
            (click)="toggleXML(textToParse.innerText)"
    >
      {{ showXML ? 'Hide' : 'Show'}} XML
    </button>

    <button class="main__button"
            (click)="toggleCSV(textToParse.innerText)"
    >
      {{ showCSV ? 'Hide' : 'Show'}} CSV
    </button>

    <button class="main__button" (click)="clearResult(); textToParse.innerText=''">
      Clear
    </button>
  </div>

    <section class="result" *ngIf="showXML">
      <h2 class="result__heading">XML:</h2>

      <code class="result__value">
        &lt;?xml version="1.0"; encoding="UTF-8" standalone="yes"&gt;<br>
        &lt;text&gt;<br>

        <div *ngFor="let sentence of sentencesToShow">
          {{'&nbsp;'.repeat(4)}}&lt;sentence&gt;<br>
          <span *ngFor="let word of sentence">
              {{'&nbsp;'.repeat(8)}}&lt;word&gt;{{word}}&lt;/word&gt;<br>
            </span>
          &nbsp;&nbsp;&nbsp;&nbsp;&lt;/sentence&gt;
        </div>

        &lt;/text&gt;<br>
      </code>
    </section>

    <section class="result" *ngIf="showCSV">
      <h2 class="result__heading">CSV:</h2>

      <code class="result__value">
        <div>
          <span>,</span>
          <span
            *ngFor="let i of ' '.repeat(maxSentenceLength).split(''); let j = index">
              Word {{j + 1}}{{j === maxSentenceLength - 1 ? '' : ','}}
            </span>
        </div>

        <div *ngFor="let sentence of sentencesToShow; let i = index">
          Sentence {{i + 1}}, {{sentence.join(', ')}}
        </div>
      </code>
    </section>
</main>
